<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Dashboard</title>
</head>
<body>

<h1>Bienvenido, {{ session['usuario_nombre'] }}</h1>
<p>Tu nivel actual es: <strong>{{ session.get('nivel', 'No definido ') }}</strong></p>

{% if session['tipo_usuario'] == 'Docente' %}
    <div class="seccion-docente" style="border: 2px dashed #34495e; padding: 15px; margin-top: 20px;">
        <h3>Panel de Control Docente</h3>
        <a href="{{ url_for('usuario.reportes') }}" class="btn">Ver Reportes de Alumnos</a>
    </div>
{% endif %}

<ul>
    <li><a href="{{ url_for('usuario.examen') }}">Examen diagnóstico</a></li>
    <li><a href="{{ url_for('usuario.ruta') }}">Ruta de aprendizaje</a></li>
    <li><a href="{{ url_for('usuario.practica') }}">Práctica</a></li>
    <li><a href="{{ url_for('usuario.progreso') }}">Progreso</a></li>
    <li><a href="{{ url_for('usuario.tutor') }}">Tutor IA</a></li>
</ul>

<a href="{{ url_for('usuario.logout') }}">Cerrar sesión</a>
</body>
</html>